<div class="card :border-0 mt-3">
  <div
    class="card-body"
    [ngClass]="{
      'bg-success': todo.complete,
      'text-white': todo.complete,
      'bg-warning': !todo.complete
    }"
  >
    <h1>{{ todo.title }}</h1>

    <p>
      {{ todo.content }}
    </p>
    <div class="container">
      <button class="btn btn-danger btn-sm" (click)="deleteTodo(todo.id)">
        Delete
      </button>
      <button
        class="btn btn-primary ms-3 btn-sm"
        :[routerLink]="['/update-todo',todo.id]"
      >
        Update
      </button>
    </div>
  </div>
</div>
